.tipCounter{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 300px;
    background-color: lightgray;
    padding: 10px 6px;
}

.calculate{
    padding: 5px 3px;
    max-width: 100px;
    margin: auto;
}

#tip_result{
    text-align:center;
    font-family: sans-serif;
    background-color: lightcoral;
    padding: 5px; 
    margin-top: 20px;
}

#total_amount{
    text-align: center;
    background-color: lightseagreen;
    padding: 5px; 
    font-family: sans-serif;
    margin-top: -5px;
}

h1{
    font-size: 1.3rem;
    font-family: sans-serif;
    text-align: center;
}